.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee; /* Ajoutez la couleur de fond souhaitée */
  }
  
  .header-title {
    margin-left: 40px; 
    font-family: 'Dancing Script', cursive;
    color: #5E17EB;
  }
  
.justify-content-end{
    background-color: #eee;
    margin-right: 40px; 
}
.home{
    margin-top:5px;
    padding: 10px;
    color: #d7b94b;
}
.users{
    margin-top:5px;
    padding: 10px;
    color: #d7b94b;
}
.addusers{
    margin-top:5px;
    padding: 10px;
    color: #d7b94b;
}

